@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap);

:root {
    --font-s1: 1.125em;
    --font-s2: 1.5em;
    --font-s3: 1.75em;
    --font-s4: 2em;

    --font-c1: #222222;

    --bg-header-c1: #122ab2;
    --bg-menu-c1: #2c70ff;
}

/* reset css */
* {
    box-sizing: border-box;
}
body, h1, h2, p, ul, a {
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-size: 16px;
}
a, a:visited {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Nuninto", Helvetica, Arial, Helvetica, sans-serif;
    color: var(--font-c1);
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* flex style */

.superinfo-bg {
    background:var(--bg-header-c1);
    color: #fff;
}
.superinfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}
.superinfo p, .superinfo a {
    margin: 0 10px 10px 10px;
}
.superinfo > a {
    color: #fff;
}

/* menu nav */

.menu-bg {
    background: var(--bg-menu-c1);    
}